<div class="row">
  <div class="col-lg-12">
    <h1>About ProjektVPN</h1>
    <p>
      ProjektVPN is a VPN server hosting system designed to be deployed anonymously. All payments are made in <a href="https://bitcoin.org/">Bitcoin</a> and all traffic is routed over <a href="https://github.com/cjdelisle/cjdns#cjdns">a secure mesh network</a>.
    </p>
    <h2>Terms of Service</h2>
    <p>
      <strong>Note that as a customer, you are purchasing services from a potentially anonymous person or entity. Do not spend more money than you can afford to lose.</strong>
    </p>
    <p>
      The services available here are provided on a second-best-effort basis, which is like a best-effort basis but with less trying. The ProjektVPN system makes no guarantees about the good faith, ability to deliver purchased services, or even continued existence of the person or entity running it. The entity running the ProjektVPN system makes no guarantees that the system works as expected.
    </p>
    <p>
      <strong>There is NO WARRANTY of ANY KIND to the extent permitted by law, even if such a warranty is specified or implied elsewhere.</strong>
    </p>
    <h2>Privacy Policy</h2>
    <p>
      This ProjektVPN system collects and makes public infornation about what public keys are registered in the system, when they were registered, how long they are paid up for, and what Bitcoin addresses received payments for each account.
    </p>
    <p>
      <strong>By coordinating this information with the public blockchain, it may be possible to identify account holders as such.</strong>
    </p>
    <p>
      This ProjektVPN system does not collect and cannot provide any information on what users are currently connected, or the sources, destinations, or content of traffic flowing through the VPN.
    </p>
    <h2>Code Availability</h2>
    <p>
      Of course, these privacy assertions are only valid if the system you are communicating with is running an unmodified ProjektVPN codebase, and is not running additional logging software. Since ProjektVPN is licensed under the AGPL, a server operator must publish any modifications that they have made to the code.
    </p>
    <p><a href="https://github.com/projektvpn/projektvpn">The source code for ProjektVPN is available here.</a></p>
  </div>
</div>
