<div class="row">
  <div class="jumbotron">
    <h1>Get ProjektVPN</h1>
    <p>Install the ProjektVPN Client to get started. Please note that you will need ${{fiat_price}} in Bitcoin to pay for service.</p>
    <a target="_blank" href="https://github.com/projektvpn/projektvpn-client/releases" role="button" class="btn btn-lg btn-success">
      <span class="glyphicon glyphicon-download" aria-hidden="true"></span> Install Now
    </a>
    <a target="_blank" href="https://bitcoin.org" role="button" class="btn btn-lg btn-warning">
      <span class="glyphicon glyphicon-bitcoin" aria-hidden="true"></span> Get Bitcoin
    </a>
  </div>
</div>

