<h1>ProjektVPN</h1>
<p>This is where we explain what ProjektVPN is.</p>
<p>This is where we put a form where you can enter your public key and add time.</p>
<p><a href="/pubkey/hbz2w3vw8xq8xjk7nukgrh1b7rmkfmkp80zn5fw4suzpgq825860.k">Here is a link to an account by pubkey.</a></p>
<p>Active accounts: {{active_accounts}}</p>
