<h1>Add Time To {{account.pubkey}}</h1>
<p>Paid through: {{account.paid_through}}{{^account.paid_through}}Not Paid Up!{{/account.paid_through}}</p>
<p>Send <strong>exactly</strong> {{monthlyPrice}} BTC to {{btcAddress}} to purchase 1 month of VPN access. Smaller amounts will be lost.</p>
<p><strong>Do not</strong> try to use an address more than once. Additional payments will be lost.<p>
